hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

.rodape__img {
    width: 100px;
    margin-top: 1vh;
}

.rodape__apoio {
    color: var(--cor-terciaria);
    font-weight: 700;
    margin-left: 45%;
}

.rodape__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
